.gifContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  filter: blur(1px);
  /* mix-blend-mode: lighten faz o preto desaparecer */
  mix-blend-mode: lighten;
}

/* Unfortunately CSS can't actually slow down a GIF's playback speed.
   We use opacity and filter to make it more subtle instead */
